@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
#shopify{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    left: 9vw;
    font-family: "poppins","serif";
    color: rgb(211, 204, 204);
}
#sobretexto h1{
    color: rgb(211, 207, 207);
    font-family:"poppins","serif" ;
    font-size: 27px;
    text-align: center;
    margin-top: 8px;
}
#sobretexto h3{
    color: rgb(212, 202, 202);
    font-family: "poppins","serif";
    text-align: center;
    font-size: 14px;
     margin-top: 5px;
}
#texto{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 14px;
}
#texto input{
    height:4vh ;
    width: 17vw;
    outline: none;
    margin-right: 12px;
   background-color: white;
  
   
}
#texto button{
    height:5vh ;
    width: 6.6vw;
    background-color: rgb(51, 47, 47);
    cursor: pointer;
    color: white;

}
#texto input::placeholder{
    padding-left: 20px;
    color: rgb(201, 203, 203);}
